@font-face {
  font-family: 'ResavskaBG';
  src: url('../fonts/resavskabg.woff2') format('woff2'),
        url('../fonts/resavskabg.woff') format('woff');
}
  
@font-face {
  font-family: 'ResavskaBG';
  src:  url('../fonts/resavskabg-b.woff2') format('woff2'),
        url('../fonts/resavskabg-b.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'ResavskaBG';
  src:  url('../fonts/resavskabg-i.woff2') format('woff2'),
        url('../fonts/resavskabg-i.woff') format('woff');
  font-style: italic;
}
  
@font-face {
  font-family: 'ResavskaBG';
  src:  url('../fonts/resavskabg-bi.woff2') format('woff2'),
        url('../fonts/resavskabg-bi.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora.woff2') format('woff2'),
       url('../fonts/lora.woff') format('woff');
}

* {
  margin: 0;
  padding: 0px;
}

html {
  display: flex;
  justify-content: center;
  font-family: 'ResavskaBG', Fallback, sans-serif;
  font-size: 1vw;
  background-image: url('../img/background.png'), linear-gradient(to bottom, #c5702b, #780d00 10rem, #7a3927);
}

body {
  display: flex;
  width: 55%;
  min-height: 100vh;
  font-size: 1.2rem;
}

#content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.8rem 0.15rem #0006;
  background-color: #fcefc5;
  background-image: url('../img/content-background.png');
}

header {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  padding: 1.5rem;
}

header img {
  width: 100%;
}

main {
  display: flex;
  width: 100%;
}

main > section {
  flex: 1;
  margin-right: 2.5rem;
}

main > nav {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-left: 0.25rem double #9f6627;
  font-family: 'Lora', serif;
  font-size: 1.05rem;
}

main > nav span {
  color: #4D341C;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a, a:visited {
  text-decoration: none;
  color: #8a5555;
  transition: color 0.15s;
}

a:focus {
  outline: none;
}

a:hover {
  color: #f27700;
  transition: color 0.25s;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
