.first-text-block {
  margin-bottom: 1.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;

  border: 0.30rem solid rgba(231, 194, 88, 0.50);

  font-family: 'Neoplanta BG';
  font-size: 1.3rem;

  text-align: center;
}

.first-text-block > p:not(:last-child) {
  margin-bottom: 1rem;
}

.second-text-block > div {
  margin-bottom: 0.5rem;
}

.second-text-block > div:first-child {
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}

.third-text-block {
  font-size: 0.9rem;
}

.third-text-block > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.indent {
  display: inline-block;
  min-width: 7rem;
}

@media only screen and (max-width: 500px) {
 .indent {
   display: block;
   min-width: 0;
 }
