main {
  width: 65%;
}

.first-text-block {
  margin-bottom: 1.4rem;
  font-family: 'Neoplanta BG';
  font-size: 1.15rem;
  text-align: center;
}

.first-text-block > p:not(:last-child) {
  margin-bottom: 1rem;
}

.second-text-block {
  font-size: 1rem;
}

.second-text-block > div {
  margin-bottom: 0.5rem;
}

.second-text-block > div:first-child {
  margin-bottom: 0.7rem;
  font-size: 1.05rem;
  text-transform: uppercase;
}

.third-text-block {
  font-size: 0.9rem;
}

.third-text-block > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.indent {
  display: inline-block;
  min-width: 5.75rem;
}
