main section .title {
  font-family: 'Neoplanta BG';
  font-size: 1.8rem;

  text-transform: uppercase;
}

main section .subtitle {
  color: grey;
}

.pdf {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

main section .preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

main section .preview .info-box-container {
  position: relative;
  width: 100%;
}

main section .preview .info-box-container .info-box {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

main section .preview .info-box-container .displayed.info-box {
  opacity: 100;
}

main section .preview .pdf {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 80vh;
}

#листање {
  display: none;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;

  background-color: rgba(0, 0, 0, 0.40);
}

#листање:target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#листање .pdf {
  height: 100%;
  width: 90%;
}

main section .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main section .buttons .button:not(:last-child) {
  margin-right: 4rem;
}

@media only screen and (max-width: 400px) {
  main section .buttons {
    flex-direction: column;
  }

  main section .buttons .button:not(:last-child) {
    margin: 0;
    margin-bottom: 1rem;
  }
}

main section .buttons .button {
  min-width: 7rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: #617e54;
  transition: background-color 0.15s;

  font-family: 'Fedra Sans Pro';
  font-size: 1.1rem;
  
  text-align: center;
}

main section .buttons .button, .button:hover, .button:visited {
  color: lightgrey;
}

main section .buttons .button:hover {
  background-color: #7BA369;
  transition: background-color 0.25s;
}
