main section {
  align-items: left;
}

main section > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.indent {
  display: inline-block;
  min-width: 6rem;
}

@media only screen and (max-width: 500px) {
  .indent {
    display: block;
    min-width: 0;
  }
