main {
  width: 65%;
}

@media only screen and (max-width: 700px) {
  main {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  main {
    width: 90%;
  }
}

main > div:not(:last-child) {
  margin-bottom: 0.5rem;
}

.indent {
  display: inline-block;
  min-width: 5rem;
}
