{% extends 'base.html' %}

{% block stylesheets %}
  {{ self_stylesheet() }}
{% endblock %}

{% block content %}
  {% for year, issue in g.issue_per_year %}
    <a href='{{ url_for("year", year=year) }}'>
      <div class='year'>
        <img class='year-cover' src='{{ url_for_static("covers/{}-small.png".format(issue["number"])) }}'>
        <p class='year-label'>{{ '{} {}'.format(_('Година'), year) }}</p>
      </div>
    </a>
  {% endfor %}

  <div class='flex-dummy-year'></div>
{% endblock %}
