{% set title = _('Православље') %}
{% set subtitle = _('Новине српске патријаршије') %}

{% macro stylesheet(name) -%}
  <link href='{{ url_for_static("css/{}.css".format(name)) }}' rel="stylesheet">
{%- endmacro %}

{% macro self_stylesheet() %}
  {{ stylesheet(self._TemplateReference__context.name.split('.')[0]) }}
{% endmacro %}

{% macro set_title(value=None) -%}
    {{ '{}{}'.format('' if value == None else value + ' — ', '{} – {}'.format(title, subtitle)) }}
{%- endmacro %}

<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='shortcut icon' type='image/x-icon' href='{{ url_for_static("img/favicon.png") }}'/>
  
  {{ stylesheet('normalize') }}
  {{ stylesheet('base') }}
  <link href="https://fonts.googleapis.com/css?family=Montserrat|News+Cycle|Vollkorn" rel="stylesheet">
  {% block stylesheets %}{% endblock %}

  <title>
  {% block title %}
    {% if g.is_on_main_menu_item %}
      {{ set_title(main_menu_items[g.endpoint]) }}
    {% else %}
      {{ set_title() }}
    {% endif %}
  {% endblock %}
  </title>
</head>

<body ondragstart='return false;' ondrop='return false;'>
  <div class='body-header'></div>

  <div class='body-content'>
    <header class='main-header'>
      <h1 class='main-header-title'><a href='{{ url_for("index") }}'>{{ title }}</a></h1>
      <h2 class='main-header-subtitle'>{{ subtitle }}</h2>
    </header>

    <main class='main-content-wrapper'>
      <section class='main-content'>
        {% block content %}{% endblock %}
      </section>

      <nav class='main-menu'>
        {% for endpoint, label in main_menu_items.items() %}
          {% if endpoint == g.endpoint %}
            <span class='main-menu-item current-main-menu-item'>{{ label }}</span>
          {% else %}
            <span class='main-menu-item'><a href='{{ url_for(endpoint) }}'>{{ label }}</a></span>
          {% endif %}
        {% endfor %}
      </nav>
    </main>

    <footer>
      
    </footer>
  </div>
</body>

</html>
