{% set current_tab = 'index' %}
{% extends 'tab.html' %}

{% block css %}
  <link rel='stylesheet' href='{{ url_for_static("css/index.css") }}'/>
{% endblock %}

{% block content %}
  <div class='first-text-block'>
    <p>„Православље – новине Српске Патријаршије“ излазе са благословом Његове Светости Патријарха српског Иринеја.</p>
    <p>Издаје Информативно­издавачка установа Светог Архијерејског Синода Српске Православне Цркве.</p>
    <p>Први број „Православља“ изашао је 15. априла 1967. године.</p>
  </div>

  <div class='second-text-block'>
    <div>
      <p><strong>Уређивачки одбор:</strong></p>
    </div>

    <div>
      <p>Члан Св. Арх. Синода задужен за надзор над радом Информативно­издавачке установе Св. Арх. Синода СПЦ Митрополит загребачко­љубљански др Порфирије</p>
    </div>

    <div>
      <p><strong>Главни и одговорни уредник</strong></p>
      <p>Протођакон др Дамјан С. Божић</p>
    </div>

    <div>
      <p><strong>Оперативни уредник</strong></p>
      <p>Срећко Петровић</p>
    </div>

    <div>
      <p><strong>Секретар редакције</strong></p>
      <p>Снежана Крупниковић</p>
    </div>

    <div>
      <p><strong>Лектор и коректор</strong></p>
      <p>Ана Јокић</p>
    </div>

    <div>
      <p><strong>Фотограф</strong></p>
      <p>Ђакон Драган С. Танасијевић</p>
    </div>
  </div>

  <div class='third-text-block'>
    <div>
      <p><strong>Излази сваког првог и петнаестог у месецу, за јануар и август двоброј.</strong><p>
    </div>

    <div>
      <p><strong class='indent'>Редакција:</strong><a href='tel:+381113025116'>+381 11 30–25–116</a></p>
      <p><strong class='indent'>Маркетинг:</strong><a href='tel:+381113025113'>+381 11 30–25–113</a></p>
      <p><strong class='indent'>e–mail:</strong><a href='mailto:pravoslavlje@spc.rs'>pravoslavlje@spc.rs</a></p>
      <p><strong class='indent'>web:</strong><a href='http://православље.срб/'>православље.срб</a> ; <a href='http://www.pravoslavlje.rs/'>www.pravoslavlje.rs</a></p>
    </div>

    <div>
      <p>Рукописи и фотографије се не враћају. Текстови достављени редакцији „Православља“ подлежу анонимној рецензији. Текстови и прилози објављени у „Православљу“ представљају ставове аутора.</p>
    </div>

    <div>
      <p>Сва права задржана. Свако прештампавање, копирање, умножавање, објављивање и дистрибуирање целих или делова ових новина или чланака објављених у њима забрањено је и представља повреду ауторског права и кривично дело.</p>
    </div>

    <div>
      <p><strong>Графичка припрема, слог и прелом:</strong></p>
      <p>Срећко Петровић</p>
      <p><stong>Штампа:</strong> „Политика“ А. Д</p>
    </div>

    <div>
      <p><strong>Дистрибутер</strong> „Polydor“ д.о.о.,</p>
      <p>Ломина 11/3/9, 32300 Горњи Милановац</p>
      <p>тел/факс. <a href='tel:032717322'>032/717–322</a>, <a href='tel:0112461138'>011/2461–138</a></p>
    </div>

    <div>
      <p>CIP – Каталогизација у публикацији</p>
      <p>Народна библиотека Србије, Београд</p>
      <p><strong>271.222 (497.11)</strong></p>
      <p><strong>ISSN 0555–0114 = Православље</strong></p>
      <p><strong>COBISS.SR–ID 16399106</strong></p>
    </div>

    <div>
      <p><strong>Православље се штампа уз помоћ Управе за сарадњу с Црквама и верским заједницама Владе Републике Србије</strong></p>
    </div>
  </div>
{% endblock %}
