{% extends 'tab.html' %}

{% block css %}
    <link rel='stylesheet' href='{{ url_for_static("css/issue.css") }}'/>
{% endblock %}

{% block js %}
  <script src='{{ url_for_static("js/issue.js") }}'></script>
{% endblock %}

{% set title = 'Број {}'.format(g.issue.number) %}
{% block title %}{{ set_title(title) }}{% endblock %}

{% block content %}
  <p class='title'>{{ title }}</p>
  <p class='subtitle'>
    {{ '{}. {} {}.'.format(g.issue.date.day, g.issue.month_name, g.issue.date.year) }}
  </p>

  {% set pdf_page_one_url = '{}#page=1'.format(g.issue.pdf_url) %}

  <div class='preview'>
    <div class='info-box-container'>
      <p class='info-box'>Дошло је до грешке при учитавању броја. Могуће је да ваш претраживач не подржава директно приказивање ПДФова. Ако преузимање није аутоматски започето, покрените га ручно.</p>
    </div>

    <object class='pdf' type='application/pdf' data='{{ pdf_page_one_url }}'></object>
  </div>

  <a id='читање' href='##'>
    <object class='pdf' type='application/pdf' data='{{ pdf_page_one_url }}'></object>
  </a>

  <div class='buttons'>
    <a class='button' href='#читање' download>Читајте</a>
    <a class='button' href='{{ g.issue.pdf_url }}' download>Преузмите</a>
  </div>
{% endblock %}
