{% extends 'tab.html' %}

{% block css %}
    <link rel='stylesheet' href='{{ url_for_static("css/issue.css") }}'/>
{% endblock %}

{% block js %}
  <script src='{{ url_for_static("js/issue.js") }}'></script>
{% endblock %}

{% set title = 'Број {}'.format(g.issue.number) %}
{% block title %}{{ set_title(title) }}{% endblock %}

{% block main %}
  <p class='title'>{{ title }}</p>
  <p class='subtitle'>
    {{ '{}. {} {}.'.format(g.issue.date.day, g.issue.month_name, g.issue.date.year) }}
  </p>

  {% set pdf_page_one_url = '{}#page=1'.format(g.issue.pdf_url) %}

  <object class='pdf' type='application/pdf' data='{{ pdf_page_one_url }}'>
    <iframe class='pdf' src='{{ pdf_page_one_url }}'>
      <p class='info-box'>Ваш претраживач не подржава директно приказивање ПДФова.</p>
    </iframe>
  </object>

  <a class='download' href='{{ g.issue.pdf_url }}' download>Преузмите ПДФ</a>
{% endblock %}
