{% extends 'base.html' %}

{% set title = '{} {}'.format(_('Година'), g.issues[0]['date'].year) %}

{% block title %}
  {{ set_title(title) }}
{% endblock %}

{% block stylesheets %}
  {{ self_stylesheet() }}
{% endblock %}

{% block content %}
  <div class='main-content-title'>{{ title }}</div>

  <div class='issues'>
    {% for issue in g.issues %}
      <a href='{{ url_for_static("pdfs/{}.pdf".format(issue.number)) }}'>
        <div class='issue'>
          <img class='issue-cover' src='{{ url_for_static("covers/{}-small.png".format(issue["number"])) }}'>
          <p class='issue-label'>
            <span>
              {{  '{} {}'.format(
                  _('Број'),
                  issue['number'])
              }}
            </span>
            <span>
              {{  '{}. {} {}.'.format(
                  issue['date'].day,
                  g.locale.months['format']['wide'][issue['date'].month],
                  issue['date'].year)
              }}
            </span>
          </p>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class='flex-dummy-issue'></div>
{% endblock %}
